<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title> Home </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
             {% for employee in employees %}
             <tr>
                 <td>{{employee.name}}</td>
                 <td><img src="{{employee.upload_file.url}}" width="200px" height="200px"></td>
             </tr>
             {% endfor %}
        </table>
    </form>
</body>
</html>