{% extends 'rivera/layout.html' %}
{% load static %}

{% block title %}

    Rivera :: Features

{% endblock %}

{% block header %}

    Features

{% endblock %}

{% block content %}

<div class="serives py-5" id="services">
    <div class="container py-xl-5 py-lg-3">
        <div class="text-h3 text-center">
            <h3>FEATURES</h3>
        </div>
        <div class="row welcome-bottom">
            <div class="col-md-4 welcome-grid text-center">
                <i class="far fa-calendar-check"></i>
                <h4 class="my-3">HOTEL BOOKING</h4>
                <p>Rooms and Suites as per availability.</p>
            </div>
            <div class="col-md-4 welcome-grid text-center">
                <i class="far fa-umbrella-beach"></i>
                <h4 class="my-3">BEACH ACCESS</h4>
                <p>Included in the booking.Private access to the beach also available.</p>
            </div>
            <div class="col-md-4 welcome-grid text-center">
                <i class="fas fa-swimming-pool"></i>
                <h4 class="my-3">INDOOR POOL</h4>
                <p>With Heated water.Private Pool also available.</p>
            </div>
       
            <div class="col-md-4 welcome-grid text-center ">
                <i class="icon-food"></i>
                <h4 class="my-3">FREE BREAKFAST</h4>
                <p>English Breakfast Buffet available.</p>
            </div>
            <div class="col-md-4 welcome-grid text-center">
                <i class="fa fa-wifi"></i>
                <h4 class="my-3">FREE WIFI</h4>
                <p>Fast and secured WI-FI connection available for each room.</p>
            </div>
            <div class="col-md-4 welcome-grid text-center">
                <i class="fas fa-car"></i>
                <h4 class="my-3">CHOISE OF TOURS</h4>
                <p>Sightseeing of the city can be arranged.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}