{% extends 'rivera/layout.html' %}
{% load static %}

{% block title %}

    Rivera :: GALLERY

{% endblock %}

{% block header %}

    Gallery

{% endblock %}

{% block content %}

<!--  gallery -->
<div class="portfolio-agileinfo py-5" id="gallery">
    <div class="agile_wthree_inner_grids">
        <div class="container">
            <div class="text-h3 text-center">
                <h3>GALLERY</h3>
                <P>Make Memories with US</P>
            </div>
            <div class="agile_port_w3ls_info">
                <div class="portfolio-grids_main">
                    <div class="row">
                        <div class="col-md-6 portfolio-grids" data-aos="zoom-in">
                            <a href=" {% static 'images/g1.jpg' %} " class="b-link-stripe b-animate-go lightninBox" data-lb-group="1">
                            <img src=" {% static 'images/g1.jpg' %} " class="img-fluid" alt="w3ls" />
                            <div class="b-wrapper two">
                                <i class="fa fa-magic" aria-hidden="true"></i>
                                
                            </div>
                        </a>
                        </div>
                        <div class="col-md-6 portfolio-grid_left">
                            <div class="row">
                                <div class="col-md-6 portfolio-grids" data-aos="zoom-in">
                                    <a href=" {% static 'images/g2.jpg' %} " class="b-link-stripe b-animate-go lightninBox" data-lb-group="1">
                                <img src=" {% static 'images/g2.jpg' %} " class="img-fluid" alt="w3ls" />
                                <div class="b-wrapper">
                                <i class="fa fa-magic" aria-hidden="true"></i>
                                    
                                </div>
                            </a>
                                </div>
                                <div class="col-md-6 portfolio-grids" data-aos="zoom-in">
                                    <a href=" {% static 'images/g3.jpg' %} " class="b-link-stripe b-animate-go lightninBox" data-lb-group="1">
                                <img src=" {% static 'images/g3.jpg' %} " class="img-fluid" alt="w3ls" />
                                <div class="b-wrapper">
                                    <i class="fa fa-magic" aria-hidden="true"></i>
                                    
                                </div>
                            </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-grids_main">
                    <div class="row">
                        <div class="col-md-6 portfolio-grid_left">
                            <div class="row">
                                <div class="col-md-6 portfolio-grids" data-aos="zoom-in">
                                    <a href=" {% static 'images/g4.jpg' %} " class="b-link-stripe b-animate-go lightninBox" data-lb-group="1">
                                <img src=" {% static 'images/g4.jpg' %} " class="img-fluid" alt="w3ls" />
                                <div class="b-wrapper">
                                <i class="fa fa-magic" aria-hidden="true"></i>
                                    
                                </div>
                            </a>
                                </div>
                                <div class="col-md-6 portfolio-grids" data-aos="zoom-in">
                                    <a href=" {% static 'images/g5.jpg' %} " class="b-link-stripe b-animate-go lightninBox" data-lb-group="1">
                                <img src=" {% static 'images/g5.jpg' %} " class="img-fluid" alt="w3ls" />
                                <div class="b-wrapper">
                                    <i class="fa fa-magic" aria-hidden="true"></i>
                                    
                                </div>
                            </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 portfolio-grids" data-aos="zoom-in">
                            <a href=" {% static 'images/g6.jpg' %} " class="b-link-stripe b-animate-go lightninBox" data-lb-group="1">
                            <img src=" {% static 'images/g6.jpg' %} " class="img-fluid" alt="w3ls" />
                            <div class="b-wrapper two">
                                <i class="fa fa-magic" aria-hidden="true"></i>
                                
                            </div>
                        </a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Gallery -->

{% endblock %}