{% extends 'rivera/layout.html' %}
{% load static %}

{% block title %}

    Rivera :: HOME

{% endblock %}

{% block header %}

    Home

{% endblock %}

{% block content %}

<div class="about pt-0" id="about">
	<div class="main-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 about-left">
                    <div>
                        <form action="" method="POST">
                            {% csrf_token %}
                    
                            <table>
                            {% for x in form %}
                    
                            <tr>
                                <th>{{x.label_tag}}</th>
                                <td>{{x}}</td>
                            </tr><br>
                    
                            {% endfor %}
                            </table>
                            <input type="submit" class="form-button" value="Sign In">
                        </form>
                    </div>
                </div>
                <div class="col-md-6 about-right">
                    <img src=" {% static 'images/m1.jpg' %} " alt="image"/>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}